body {
    font-family: sans-serif;
}
table tr td {
    margin: 0;
    padding: 0;
}
.fullscreen {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.vbox {
    display: box;
    box-orient: vertical;
    box-align: stretch;

    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-align: stretch;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
}
.hbox {
    display: box;
    box-orient: horizontal;
    box-align: stretch;

    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-align: stretch;

    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: stretch;
}
.flex-1 {
    box-flex: 1.0;
    -moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
}
.flex-2 {
    box-flex: 2.0;
    -moz-box-flex: 2.0;
    -webkit-box-flex: 2.0;
}
.flex-3 {
    box-flex: 3.0;
    -moz-box-flex: 3.0;
    -webkit-box-flex: 3.0;
}
.scrollable {
    overflow: auto;
}
#searchText {
    vertical-align: top;
    min-width: 1em;
}
#searchResults {
    overflow: auto;
}
.searchBtn {
    width: 32px;
    height: 32px;
    background-image: url('img/search.png');
}
.fill {
    width: 100%;
    height: 100%;
}

.left-controls-bar {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 1000;
}
.right-controls-bar {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

#load-indicator {
    padding: 0.2em;
    border: 1px solid black;
    border-radius:0.5em;
    background-color: #DDDDDD;
    vertical-align: middle;
}

.load-light {
    margin: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius:50%;
    vertical-align:middle;
}
.load-text {
    vertical-align:middle;
    display:none;
}

#load-select {
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 1000;
}

#map-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-control {
    display: inline-block;
}

.load-cb {
    margin: 1px;
    padding: 1px;
    border: 1px solid black;
    border-radius: 0.5em;
}
.free {
    background-color: #88FF88;
}
.moderate {
    background-color: #FFFF88;
}
.busy {
    background-color: #FF8888;
}
.search-result:hover,.popup-list-item:hover {
    background-color: #DDDDDD;
}
.popup-description {
    display: inline-block;
    width: 180px;
}
.favorite-star,.filter-favorite {
    width: 32px;
    height: 32px;
    background-image: url('img/star_empty.png');
}
.is-favorite {
    background-image: url('img/star_full.png');
}
.list-name,.details-name {
    font-weight:bold;
}
.list-address,.details-address {
    font-style:italic;
}
.details {
    position: relative;
    height: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
}
.hide-details {
    background-image: url('img/close.png');
    width: 10px;
    height: 10px;
    position:absolute;
    top: 5px;
    right:5px;
    cursor: pointer;
}
.details-rating {
    display: inline;
    padding: 3px;
    font-weight: bold;
    color: white;
    background-color: #89001A
}
.details-reviews {
    display: inline;
    padding: 3px;
}
.reviews {
    position: absolute;
    z-index:2000;
    top: 10em;
    bottom: 10em;
    left: 10em;
    right: 10em;
    border: 1px solid black;
    border-radius: 1em;
    background-color: white;
}
.review-content {
    margin: 1em;
    overflow: auto;
}
.hide-reviews {
    background-image: url('img/close.png');
    width: 10px;
    height: 10px;
    position:absolute;
    top: 1em;
    right:1em;
    cursor: pointer;
}
.review-autor {
    font-weght: bold;
    font-style: italic;
}
.popup-list-item {
    width: 100%;
}